body { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../imagens/fundolindo_v2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Hind', sans-serif; /* Define a fonte padrão */
}
        
.container { 
    width: 100%;
    max-width: 400px; /* Limita a largura do container principal */
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.back-arrow {
    position: absolute; /* Posição fixa no topo esquerdo */
    top: 30px;
    left: 20px;
    font-size: 50px; /* Tamanho grande para a seta */
    color: #0d47a1; /* Azul escuro similar ao da imagem */
    text-decoration: none;
    line-height: 1;
    font-weight: 700;
}

.iconepessoa img{
    width: 180px;
    margin-top: 10px;
    margin-bottom: -2px;
}
        


.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-form label {
    color: #FFFFFF; 
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 40px;
}

.login-form input {
    background-color: rgba(147, 187, 230, 0.5); 
    border: none;
    border-radius: 30px;
    height: 50px;
    margin-bottom: 25px;
    padding: 0 15px;
    color: #FFFFFF; 
    font-size: 18px;
    outline: none;
    box-shadow: #3f4a5a 2px 2px 2px;
}
        
button { 
    background-color: #BF212E; /* Cor vermelha do seu código anterior */
    color: white;
    font-size: 28px;
    font-weight: 500;
    height: 55px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
    box-shadow: #3f4a5a 2px 2px 1px;
}
        
button:hover { 
    background-color: #a31c26; /* Um tom um pouco mais escuro ao passar o mouse */
}
        
#message { 
    margin-top: 15px; 
    padding: 10px; 
    border-radius: 4px;
    text-align: center; 
    font-weight: bold; 
}
        
.success { 
    background-color: #d4edda; 
    color: #155724; 
    border: 1px solid #c3e6cb; 
}
        
.error { 
    background-color: #f8d7da; 
    color: #721c24; 
    border: 1px solid #f5c6cb; 
}
        
a { 
    color: #000000; 
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

@media (max-width:  768px) {


    button {
        font-size: 24px;
        height: 50px;
        width: 250px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 8px;
    }
    
    .login-form input {
        height: 40px;
        width: 250px;
        margin: auto;
    }

    .login-form label {
        font-size: 16px;
        margin-left: 33.200px;
    }

    .iconepessoa img{
        margin-bottom: -10px;
    }
}